body{

}
body.subpage{
	background: #fff url(/assets/img/jingari-sm.jpg) no-repeat;
	background-position: top left;
	margin-top:100px;
}
.logo{
	margin:0 auto;
	text-align:center;
	width:100%;
}
.logo img{
	width:100%;
	max-width: 824px;
}

.ovalimg {
	width: 300px;
	height: 350px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: #333;
	border-width: 2px;
	border-color: #333;
	border-style: solid;
	box-shadow: inset 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, .8);
}
.headshot{
	background: url(../../assets/img/jingari-snap.jpg) no-repeat;
	background-size: 300px;
}

/* social icons */

@font-face {
    font-family: "Mono Social Icons Font";
    font-style: normal;
    font-weight: normal;
    src: url("../../assets/fonts/MonoSocialIconsFont-1.10.ttf") format("truetype");
}
.symbol, a.symbol:before {
    font-family: "Mono Social Icons Font";
    font-size: 35px;
    text-decoration: none;
    text-rendering: optimizelegibility;
}
a.symbol:before {
    content: attr(title);
    margin-right: 0;
}
.symbol {
}
.symbol:hover {
    font-size: 38px;
}
.facebook .symbol {
    color: #3b5998;
}
.twitter .symbol {
    color: #55acee;
}
.google .symbol {
    color: #d14836;
}
.github .symbol {
    color: #333;
}
.email .symbol {
    color: #a40000;
}
ul.social-icons {
    list-style: outside none none;
    text-align: center;
}
ul.social-icons li {
    float: left;
    text-align: center;
    width:40px;
}
